*{
    padding: 0;
    margin: 0;
}
/* homepage bg */
.homepage{
    background-size: cover;
    background-color: rgb(10, 10, 10);
    background-repeat: no-repeat;
}

/*  login page bg */
.loginpage{
    background-size: cover;
    background-image: url(../IMAGES/kathakali.jpg);
    background-repeat: no-repeat;
}
/* joinpage */
.joinpage{
    background-size: cover;
    background-image:url(../IMAGES/green.jpg);
    background-repeat: no-repeat;
}
/* brochurepage bg */
.brochurepage{
    background-color: rgb(7, 7, 7);
}
/* nav tags hover */
#atags{
    
    background-color: rgba(12, 12, 12, 0.404);
    color:rgb(252, 247, 247);
}
#atags:hover{
    background-color: rgb(7, 7, 7);
    color:white;
}
/* login button hover */
#loginbutton:hover{
    border: 2px solid white;
}
/* input form alignment in join page */
#inputform input{
    float: right;
}
#inputform{
    background-size: cover;
    background-color: rgba(10, 10, 10, 0.596);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    margin-bottom: 2%;
    border-radius: 3%;

}
#inputform button{
    background-color: rgb(8, 8, 8);
    color:white;
}
#inputform label{
    color: rgb(252, 248, 248);
    font-style: italic;
}
